.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout__header {
  position: relative;
  z-index: 400;
}

.layout__content {
  flex: 1;
  width: 100%;
  overflow: auto;
}

.layout__nav {
  position: relative;
  z-index: 800;
}
