.list {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.list__item {
  position: relative;
  display: flex;
  align-items: center;
}

.list__action {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list__action:hover {
  background-color: var(--list-item-hover-background-color) !important;
}

.list__action:active,
.list__action--active,
.list__action.active {
  background-color: var(--list-item-active-background-color) !important;
}

.list__action:disabled {
  color: var(--list-item-disabled-text-color) !important;
}

a.list__action {
  color: inherit;
  text-decoration: none;
}

button.list__action {
  padding: 0;
  background: none;
  border: none;
}

.list__icon {
  margin: 0 0 0 16px;
  color: var(--font-primary-color);
}

.list__avatar {
  width: 40px;
  height: 40px;
  margin: 8px 0 8px 16px;
}

.list__avatar--circle {
  overflow: hidden;
  border-radius: var(--border-radius-circle);
}

.list__single-line-content {
  flex: 1;
  padding: 12px 16px;
  overflow: hidden;
  color: var(--font-primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list__multi-line-content {
  flex: 1;
  padding: 14px 16px;
  overflow: hidden;
}

.list__primary-text {
  font-size: var(--font-size-16);
  color: var(--font-primary-color);
}

.list__secondary-text {
  font-size: var(--font-size-14);
  color: var(--font-secondary-color);
}

.list__wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list__primary-text,
.list__secondary-text {
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--font-weight-regular);
  line-height: 1.25rem;
}

.list__meta {
  padding-right: 16px;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-12);
  color: var(--font-secondary-color);
}
