.cenchat-theme {
  /* Colors */
  --dark-4: rgba(0, 0, 0, 0.04);
  --dark-5: rgba(0, 0, 0, 0.05);
  --dark-12: rgba(0, 0, 0, 0.12);
  --dark-38: rgba(0, 0, 0, 0.38);
  --dark-60: rgba(0, 0, 0, 0.6);
  --dark-87: rgba(0, 0, 0, 0.87);

  /* Scaffolding */
  --brand-color: var(--cenchat-brand-color);
  --container-background-color: #fff;
  --surface-background-color: #fff;
  --bar-background-color: #fafafa;
  --disabled-color: var(--dark-38);
  --hover-color: var(--dark-4);
  --active-color: var(--dark-12);
  --danger-color: #b00020;

  /* Border */
  --border-color: var(--dark-5);

  /* Divider */
  --divider-color: var(--dark-12);

  /* Toast */
  --toast-text-color: #fff;
  --toast-background-color: #303030;

  /* Typography */
  --font-primary-color: var(--dark-87);
  --font-secondary-color: var(--dark-60);
}

.light-theme {
  /* Colors */
  --dark-4: rgba(0, 0, 0, 0.04);
  --dark-5: rgba(0, 0, 0, 0.05);
  --dark-12: rgba(0, 0, 0, 0.12);
  --dark-38: rgba(0, 0, 0, 0.38);
  --dark-60: rgba(0, 0, 0, 0.6);
  --dark-87: rgba(0, 0, 0, 0.87);

  /* Scaffolding */
  --container-background-color: #fff;
  --surface-background-color: #fff;
  --bar-background-color: #fafafa;
  --disabled-color: var(--dark-38);
  --hover-color: var(--dark-4);
  --active-color: var(--dark-12);
  --danger-color: #b00020;

  /* Border */
  --border-color: var(--dark-5);

  /* Divider */
  --divider-color: var(--dark-12);

  /* Toast */
  --toast-text-color: #fff;
  --toast-background-color: #303030;

  /* Typography */
  --font-primary-color: var(--dark-87);
  --font-secondary-color: var(--dark-60);
}

.dark-theme {
  /* Colors */
  --light-4: rgba(255, 255, 255, 0.04);
  --light-5: rgba(255, 255, 255, 0.05);
  --light-12: rgba(255, 255, 255, 0.12);
  --light-38: rgba(255, 255, 255, 0.38);
  --light-60: rgba(255, 255, 255, 0.6);
  --light-87: rgba(255, 255, 255, 0.87);

  /* Scaffolding */
  --container-background-color: #121212;
  --surface-background-color: #121212;
  --bar-background-color: #212121;
  --disabled-color: var(--light-38);
  --hover-color: var(--light-4);
  --active-color: var(--light-12);
  --danger-color: #b00020;

  /* Border */
  --border-color: var(--light-5);

  /* Divider */
  --divider-color: var(--light-12);

  /* Toast */
  --toast-text-color: #fff;
  --toast-background-color: #424242;

  /* Typography */
  --font-primary-color: var(--light-87);
  --font-secondary-color: var(--light-60);
}
