.site-page-chats_route-view-main-content-chat-collection-item {
  position: relative;
  padding: 16px;
}

.site-page-chats_route-view-main-content-chat-collection-item:not(:last-child) {
  margin-bottom: 8px;
}

.site-page-chats_route-view-main-content-chat-collection-item__message-list {
  max-height: 160px;
  padding: 0;
  overflow: hidden;
}

.site-page-chats_route-view-main-content-chat-collection-item__fade {
  position: absolute;
  right: 0;
  bottom: 48px;
  left: 0;
  height: 72px;
  background: linear-gradient(0deg, var(--surface-background-color) 0%, rgba(255, 255, 255, 0) 100%);
}

.site-page-chats_route-view-main-content-chat-collection-item__footer {
  padding-top: 16px;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-12);
  color: var(--font-secondary-color);
  background-color: var(--surface-background-color);
}
