.sign-in__container {
  --brand-color: var(--cenchat-brand-color);

  height: calc(100vh - 112px);
  padding-right: 16px;
  padding-left: 16px;
  margin-top: -56px;
}

.sign-in__card {
  border: none;
}

@media (min-width: 960px) {
  .sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 128px);
    margin-right: auto;
    margin-left: auto;
  }

  .sign-in__container {
    max-width: 456px;
    height: auto;
    padding: 40px;
    margin-top: 0;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius-square);
  }
}

.sign-in ~ .layout__nav {
  display: none;
}
